{% extends "base.html" %}

{% block titulo %} Lista de libros {% endblock titulo %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a
            name=""
            id=""
            class="btn btn-success"
            href="{% url "crear" %}"
            role="button"
            >Agregar Nuevo Libro</a
        >
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-info"
            >
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Título</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">1</td>
                        <td>Django con Python</td>
                        <td>Imagen.jgp</td>
                        <td>Libros referente a el Framework de Django</td>
                        <td><a
                            name=""
                            id=""
                            class="btn btn-primary"
                            href="{% url "editar" %}"
                            role="button"
                            >Editar</a
                        >
                         | <a
                            name=""
                            id=""
                            class="btn btn-danger"
                            href="#"
                            role="button"
                            >Eliminar</a
                         >
                         </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted"></div>
</div>


{% endblock contenido %}